@page
@model ContosoUniversity.Pages.evt.IndexModel
@{
}


@{
    
}

<br />
<br />


<div class="container p-3">
    <div class="row pt-4">
        <div class="co-3">
            <h2 class="text-primary">Cluster Event List</h2>
        </div>
        <div class="col-6">
        </div>
    </div>

    <br /><br />

</div>
<table class="table">
    <caption>Basic Table Layout</caption>
    <thead>
        <tr>
            <th>Time Stamp</th>
            <th>Kind</th>
            <th>NameSpace</th>
            <th>ObjectName</th>
            <th>Message</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.ev)
        {
            <tr>
                <td>@obj.TimeStamp</td>
                <td>@obj.Kind</td>
                <td>@obj.NameSpace</td>
                <td>@obj.ObjectName</td>
                <td>@obj.Message</td>
 
            </tr>

        }

    </tbody>

</table>
